<div class="rail-fence-cipher">
	<div class="rail-fence-output-container">
		<div ng-repeat="rail in message.railfence track by $index" class="rail-container" ng-class="{'first-row': $first, 'last-row': $last, 'middle-row': !$first && !$last}">
			<div class="btn-group btn-group-xs">
				<button ng-repeat="char in rail track by $index" class="btn btn-default" ng-class="{'first': $first, 'last': $last, 'btn-primary': char != '.'}">
					{{ char }}
				</button>
			</div>
		</div>
	</div>

	<div class="controls">
		<h4><small>

		<div class="btn-group btn-group-xs">
			<button ng-click="decreaseRailCount()" class="btn btn-default" ng-class="{'disabled': message.rails == 2}">
				<span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
			</button>
		</div>

		Rail count: {{ message.rails }}

		<div class="btn-group btn-group-xs">
			<button ng-click="increaseRailCount()" class="btn btn-default" ng-class="{'disabled': message.rails == message.plaintext.length}">
				<span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
			</button>
		</div>
	</div>

	<div class="row form-inputs">
		<div class="col-md-5">
			<h4><small>Plaintext</small></h4>
			<form class="plaintext-form">
				<textarea type="text" class="form-control" ng-model="message.plaintext" placeholder="Plaintext" row="2" ng-pattern="inputPattern"/><br>
			</form>
		</div>

		<div class="col-md-2">
		</div>

		<div class="col-md-5">
			<h4><small>Ciphertext</small></h4>
			<form class="ciphertext-form">
				<textarea type="text" class="form-control" ng-model="message.ciphertext" placeholder="Ciphertext" row="2" /><br>
			</form>
		</div>
	</div>
</div>

