.rail-fence-cipher {
	width: 550px;
	margin: 0 auto;
	text-align: center;
}

div.rail-fence-cipher > div > div > div.btn-group > button {
	padding: 2px;
	width: 22px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

div.rail-fence-cipher button.btn-primary {
	background-color: #b7e390;
	color: #6e6e6e;
}

div.rail-fence-cipher > div.controls button {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding: 2px;
}


/* First button styling */
div.rail-fence-cipher > div > div.first-row > div > button.first {
	border-bottom-left-radius: 0;
}

div.rail-fence-cipher > div > div.middle-row > div > button.first {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

div.rail-fence-cipher > div > div.last-row > div > button.first {
	border-top-left-radius: 0;
}

/* Last button styling */
div.rail-fence-cipher > div > div.first-row > div > button.last {
	border-bottom-right-radius: 0;
}

div.rail-fence-cipher > div > div.middle-row > div > button.last {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

div.rail-fence-cipher > div > div.last-row > div > button.last {
	border-top-right-radius: 0;
}

/* Margin movements */
div.rail-fence-cipher > div > div.first-row {
	margin-bottom: -1px;
}

div.rail-fence-cipher > div > div.middle-row {
	margin-bottom: -2px;
}

/* Other styling */
div.rail-fence-cipher > div > div.rail-container > div > button {
	color: #FFF;
}

div.rail-fence-cipher > div > div.rail-container > div > button.btn-primary {
	color: #6e6e6e;
}


div.rail-fence-cipher > div.controls {
	margin-top: 5px;
	margin-bottom: 5px;
}

div.rail-fence-cipher  > div.form-inputs {
	padding-top: 10px;
}